*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
}
img{
    border:0;
}
ul{
    list-style: none;
}
.right{
    color:green;
}
.error{
    color:red;
}
.key,.keys{
    color:red;
}
/************************header开始＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
#header{
    width:100%;
    height:50px;
    background:#ffff00;
    position:relative;
}
#header .userName,#header .login{
    position: absolute;
    height:100%;
    width:200px;
    text-align: center;
    line-height:50px;
    color:red;
    float:left;
    left: 30px;
    cursor: pointer;
}
#header .login{
    display:none;
    z-index:1;
}

#header .right{

    float:right;
    height:100%;
    width:200px;
    text-align: center;
    line-height:50px;
    color:red;
    margin-right: 30px;
}
#header .right span {
    margin-right: 40px;
    cursor: pointer;
}

/************************header结束＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
/************************mask开始＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
#mask{
    z-index:9999;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#f9f9f9;
    display:none;
}
#mask .window{
    width:700px;
    height:500px;
    position:absolute;
    left:50%;
    margin-left:-350px;
    top:50%;
    margin-top:-250px;

}
#mask .window input{
    width:300px;
    height:30px;
    margin-bottom: 50px;
}
#mask .window #sub{
    width:60px;
    height:30px;
    margin-left:200px;
}
/************************mask结束＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
/************menu开始***************/
#menu{
    width:100%;
    height:112px;
    background:pink;

}
#menu .img1{
    float:left;
}
#menu .our{
    float:right;
    margin-top:40px;
    height:30px;
    line-height:30px;
    margin-right:100px;

}
#menu .our .severs{
    cursor: pointer;
    float:left;
    width:150px;
    text-align:center;
    margin-right:10px;
    color:#ffff00;
    font-size: 20px;
}
#menu .our .select{
    background:red;
}
#menu .our .severs a{
    float:left;
    width:100%;
    height:100%;
}
/******menu结束***************/



*{
    margin:0px;
    padding:0px;
}
a{
    text-decoration: none;
}
img{
    border:0;
}
ul{
    list-style: none;
}
.right{
    color:green;
}
.error{
    color:red;
}
.key,.keys{
    color:red;
}
/************************header开始＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
#header{
    width:100%;
    height:50px;
    background:#ffff00;
}
#header .userName{
    height:100%;
    width:200px;
    text-align: center;
    line-height:50px;
    color:red;
    float:left;
    margin-left: 30px;
    cursor: pointer;
}
#header .right{

    float:right;
    height:100%;
    width:200px;
    text-align: center;
    line-height:50px;
    color:red;
    margin-right: 30px;
}
#header .right span {
    margin-right: 40px;
    cursor: pointer;
}

/************************header结束＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
/************************mask开始＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
#mask{
    z-index:9999;
    position:fixed;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background:#f9f9f9;
    display:none;
}
#mask .window{
    width:700px;
    height:500px;
    position:absolute;
    left:50%;
    margin-left:-350px;
    top:50%;
    margin-top:-250px;

}
#mask .window input{
    width:300px;
    height:30px;
    margin-bottom: 50px;
}
#mask .window #sub{
    width:60px;
    height:30px;
    margin-left:200px;
}
/************************mask结束＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊*/
/************menu开始***************/
#menu{
    width:100%;
    height:112px;
    background:pink;

}
#menu .img1{
    float:left;
}
#menu .our{
    float:right;
    margin-top:40px;
    height:30px;
    line-height:30px;
    margin-right:100px;

}
#menu .our .severs{
    cursor: pointer;
    float:left;
    width:150px;
    text-align:center;
    margin-right:10px;
    color:#ffff00;
    font-size: 20px;
}
#menu .our .select{
    background:red;
}
#menu .our .severs a{
    float:left;
    width:100%;
    height:100%;
}
/******menu结束***************/
/******submit开始***************/
#submit{
    width:1200px;
    margin:0 auto ;
}
#submit form{
    width:600px;
    margin:0 auto;
}
#submit form input {
    width:300px;
    height:30px;
    margin-top:30px;
}
#submit form input.none{
    width:30px;
    height:30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    margin-left:220px;
}
/******submit结束***************/
/******content开始***************/
#content {
    width:1200px;
    margin:0 auto;


}
#content ul{
    width:800px;
    margin:0  auto ;
    height:300px;
    border: 1px solid gray;
}
#content ul li{
    height:30px;
}
/******content结束***************/

#mes{
    position:fixed;
    left:50%;
    top:50%;
    width:300px;
    height:300px;
    margin-left:-150px;
    margin-top:-150px;
    background:grey;
    color:red;
    display: none;
}
#mes span{
    position:absolute;
    right:0;
    top:0;
    height:50px;
    display: block;
}